.board {
  display: table;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 15px rgba(100, 100, 100, .5);
  margin: 20px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
}

.cell.active {
  background-color: #444;
}

.cell:hover {
  background-color: #ddd;
}

.cell.active:hover {
  background-color: #222;
}